<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:utext="#{lang.login.login_page}"></title>
</head>
<body>
<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
    <a th:href="@{/login?lang=en}" th:text="#{lang.login.login_eng}"></a>
    &nbsp;|&nbsp;
    <a th:href="@{/login?lang=uk}" th:text="#{lang.login.login_uk}"></a>
    &nbsp;|&nbsp;

</div>
<div th:if="${param.error}" th:text="#{lang.login.error}"></div>

<div th:if="${param.logout}" th:text="#{lang.login.logouted}"></div>

<form method="post" th:action="@{/login}">
    <table>
        <tr>
            <td>
                <strong th:utext="#{lang.registration.username}"></strong>
            </td>
            <td><input name="username" type="text"/></td>
        </tr>
        <tr>
            <td>
                <strong th:utext="#{lang.registration.password}"></strong>
            </td>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" th:value="#{lang.login.signin}"/>
            </td>
        </tr>
    </table>
</form>
<a href="/registration" th:text="#{lang.registration.create_account}"></a>
</body>
</html>