<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"-->
<!--      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->
<!--<head>-->
<!--    <meta charset="ISO-8859-1" />-->
<!--    <title>Registration Page</title>-->
<!--</head>-->
<!--<body>-->

<!--<form th:action="@{/registration}" method="post">-->
<!--    <div><label th:text="#{lang.registration.username}"></label>:-->
<!--        <input type="text" name="username"/>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label th:text="#{lang.registration.password}"> </label>:-->
<!--        <input type="password" name="password"/>-->
<!--    </div>-->
<!--    <div>-->
<!--        <input type="submit" th:value="#{lang.registration.create_account}"/>-->
<!--    </div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->


<!--!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <title>Spring Security Example </title>-->
<!--</head>-->
<!--<body>-->
<!--Add new user-->
<!--{{#message}}-->
<!--{{message}}-->
<!--{{/message}}-->
<!--<form action="/registration" method="post">-->
<!--    <div><label> User Name : <input type="text" name="username"/> </label></div>-->
<!--    <div><label> Password: <input type="password" name="password"/> </label></div>-->
<!--    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />-->
<!--    <div><input type="submit" value="Sign In"/></div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->




<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:utext="#{lang.registration.registration_page}"></title>
</head>
<body>
<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
    <a th:href="@{/registration?lang=en}">Registration (English)</a>
    &nbsp;|&nbsp;
    <a th:href="@{/registration?lang=uk}">Registration (Ukrainian)</a>
    &nbsp;|&nbsp;

</div>
<p th:text="${message}"></p>
<form th:action="@{/registration}" method="post">
    <table>
        <tr>
            <td>
                <strong th:utext="#{lang.registration.username}"></strong>
            </td>
            <td><input name="username" /></td>
        </tr>
        <tr>
            <td>
                <strong  th:utext="#{lang.registration.password}"></strong>
            </td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" th:value="#{lang.registration.create_account}" />
            </td>
        </tr>
    </table>
</form>

</body>
</html>