<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Editor</title>
</head>
<body>


<a href="login?logout" th:text="#{lang.login.logout}"></a>

<div th:text="#{lang.user_editor}"></div>
<div>
    <p th:if="${ScoreErrors != null}" th:text="#{lang.score_errors}"></p>
</div>

<form th:action="@{/user}" method="post">

    <div th:each="role : ${roles}">
        <input type="checkbox" th:value="${role}" th:name="${role}" th:checked="${#lists.contains(user.roles, role)}"/>
        <label th:text="${role}"/></label>
    </div>

    <div th:if="${scoresMap != null}">
        <div th:each="key : ${scoresMap.keySet()}" name="scores">
            <input type="number" th:value="${scoresMap.get(key)}" th:name="${key}"/>
            <label th:text="${key}"></label>
        </div>
    </div>

    <input type="hidden" th:value="${user.id}" name="userId">
    <button type="submit" th:text="#{lang.save}"></button>
</form>


</body>
</html>