<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Editor</title>
</head>
<body>
<!--<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">-->
<!--    <a th:href="@{${id} + '?lang=en'}" th:text="#{lang.en}"></a>-->
<!--    &nbsp;|&nbsp;-->
<!--    <a th:href="@{${id} + '?lang=uk'}" th:text="#{lang.uk}"></a>-->
<!--    &nbsp;|&nbsp;-->

<!--</div>-->


<a href="login?logout" th:text="#{lang.login.logout}"></a>

<div th:text="#{lang.user_editor}"></div>
<!--<div>-->
<!--    <div th:each="instance : ${scores}">-->
<!--        <span th:text="${instance.key}">keyvalue</span>-->
<!--        <span th:text="${instance.value}">num</span>-->
<!--    </div>-->
<!--</div>-->

<div>
    <p th:if="${ScoreErrors != null}" th:text="#{lang.score_errors}"></p>
</div>

<form th:action="@{/user}" method="post">
    <input type="text"   name="username" th:value="${user.username}">

    <div th:each="role : ${roles}">
        <input type="checkbox" th:value="${role}" th:name="${role}" th:checked="${#lists.contains(user.roles, role)}" />
        <label th:text="${role}" /></label>
    </div>

    <div  th:if="${scoresMap != null}">
        <div  th:each="key : ${scoresMap.keySet()}" name="scores">
            <input type="number" th:value="${scoresMap.get(key)}" th:name="${key}" />
            <label th:text="${key}"></label>
        </div>
    </div>

    <input type="hidden" th:value="${user.id}" name="userId">
    <button type="submit" th:text="#{lang.save}"></button>
</form>



</body>
</html>