<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Of Users</title>
</head>
<body>
<div>List of users</div>
<div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${users.empty}">
            <td colspan="2"> No users </td>
        </tr>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.username}"> Name </span></td>
            <td><span th:text="${user.roles}"> Role </span></td>
            <td><a th:href="@{'/user/' + ${user.id}}">Edit</a> </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>